# General stuff
.DS_Store
*.lock
*.json
*.log

# Data is for the users
Data
Data/**

# Obsdian folder not needed for this
.obsidian
.obsidian/**

# Python stuff
__pycache__/
__pycache__/**

# Stuff to keep
!Relational_Analysis_Vault.json
!tools/vault/vault_schema.json
